<h1>What is going on...</h1>

<p>Welcome to my final project from General Assembly's Web Development Immersive in Washington D.C.</p>

<p>
  As you can see I made a clone from the infamous Pinterest site however I had made it more about General Assembly's future rockstar developers in the best cohort ever WDIDC8!!!!
</p>
